@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  background: darkslategrey;
  color: greenyellow;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  width: 1000px;
}

h1{
  font-size: 40px;
}

#user-account{
  margin-left: 25%;
  width: 500px;
}

.game-container {
  float: left;
  display: inline block;
  width: 200px;
  height: 200px;
  word-wrap: break-word;
  text-align: center;
}
#top-bar input#search{
  width: 300px;
  height: 50px;
  background: #2b303b;
  margin-top: 10px;
  border: none;
  font-size: 13pt;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

}

#search{
  margin-left: 40px;
}

:focus {
  outline: none;
}

#current-user {
  /*float: left;*/
  width: 100%;
  text-align: center;
/*  position: fixed;*/
  top: 0;
  z-index: 999;
}

#game-view{
  margin-top: 10px;
}

button{
  border: solid 1px;
  margin-top: 10px;
  margin-left: 5px;
  height: 28px;
  color: white;
  background-color: darkslategrey;
  border-radius: 4px;
}

button:hover{
  background: transparent;
  color: #226fbe;
  cursor: pointer;
}

img{
  border-radius:5px;
}

.image-container{
  float: left;
  display: inline block;
  width: 400px;
  height: 500px;
  padding-left:10px;
  padding-right: 10px;
  text-align: center;
  margin-left: 30px;
}

img#game-image-profile{
  width: 160px;
  height: 160px;
}

.profile-container{
  margin-left:2%;
  margin-right: 2%;
  text-align: center;
}

p.deck{
  text-align: left;
  font-size: 13px;
}

p.platforms{
  text-align: left;
  font-size: 13px;
}

em{
  color: white;
}

#ytplayer{
  margin-top: 25px;
  margin-left: 100px;
  width: 720px;
}

img#game-image-profile:hover{
  cursor: pointer;
  opacity: 0.3;
}

/*
#top-bar .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 17px;
  z-index: 1;
  color: #4f5b66;
}*/

